
//colors:
$light-color: #F7F9FB;
$blue: #31708E;
$shadow-blue: rgb(12, 93, 137);
$green: #687864;
$shadow-green:#556351;
$error-red: rgba(222, 25, 25, 0.849);


//breakpoints:
$breakpoint: 600px;

//fonts
$font-1: 'Dosis', sans-serif;
$font-2:'Montserrat', sans-serif;