.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100vw;
  gap: 20px;
}

.main h2 {
  text-transform: capitalize;
  margin-top: 20px;
  font-family: "Dosis", sans-serif;
  color: #687864;
  font-size: 30px;
}

.main .books-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 20px;
}

.main .books-section h3 {
  font-family: "Dosis", sans-serif;
  color: #687864;
  font-size: 25px;
}

.main .books-section .books-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  margin-bottom: 50px;
}

.main .books-section .books-wrapper .book-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  gap: 20px;
}

.main .books-section .books-wrapper .book-article h4 {
  font-family: "Dosis", sans-serif;
  color: #0c5d89;
  font-size: 20px;
}

.main .books-section .books-wrapper .book-article .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .books-section .books-wrapper .book-article .content .left-wrapper {
  width: 50%;
}

.main .books-section .books-wrapper .book-article .content .left-wrapper .book-img {
  height: 300px;
  width: 200px;
}

.main .books-section .books-wrapper .book-article .content .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 10px;
}

.main .books-section .books-wrapper .book-article .content .right-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #0c5d89;
}

.main .books-section .books-wrapper .book-article .content .right-wrapper .genre-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
  font-family: "Montserrat", sans-serif;
  color: #0c5d89;
  font-weight: bolder;
}

.main .books-section .books-wrapper .book-article .content .right-wrapper .genre-box a {
  color: #687864;
}

.main .books-section .books-wrapper .book-article .content .right-wrapper .genre-box a:hover {
  color: #0c5d89;
}

@media (min-width: 550px) {
  .main .books-section .books-wrapper .book-article .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .books-section .books-wrapper .book-article .content .right-wrapper {
    border-top: 1px solid #556351;
    border-bottom: 1px solid #556351;
  }
}
/*# sourceMappingURL=startpage.css.map */